<center>
<div class="container">
<div class="jumbotron">
<%= image_tag(@product.image) %>
<h2>Product Name <%= @product.productname %> </h2>
<h2>Panda Price <%= @product.PandaPrice %> </h2>
<h2>Danub Price <%= @product.DanubPrice %> </h2>
<h2>Manual Price <%= @product.ManualPrice %> </h2>



<%= link_to "edit" , edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to "Delete" , 
"/products/#{@product.id}/delete", 
                    data: {confirm: 'Are you sure'},
                            :class => 'btn btn-danger' %>
                          
                             </div>
</div>
 </center>
